@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #060606;
}

@layer utilities {
  .bg-nav-gradient {
    background: linear-gradient(90deg,
        #600707 46%,
        #121212fd 76%);
    opacity: 0.997;
  }
}

@layer utilities {
  .bg-home-gradient {
    background: linear-gradient(
      132deg,
      #b3000093 0%,
      #0D0D0D 48%,
      #600707 99%
    );
    opacity: 0.867; /* 86.67% do gradiente */
  }
}

@layer utilities {
  .bg-pages-gradient {
    background: linear-gradient(
      -172deg,
      #b3000093 0%,
      #0D0D0D 48%,
      #600707 99%
    );
    opacity: 0.867; /* 86.67% do gradiente */
  }
}

.bg-pages-gradient {
    background: linear-gradient(
        -172deg,
        rgba(13, 13, 13, 0.8667) 10%,
        rgba(96, 7, 7, 0.8667) 100%
    );
}

