@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #060606;
}

@layer utilities {
  .bg-nav-gradient {
    background: linear-gradient(90deg,
        #B30000 56%,
        #060606 76%);
    opacity: 0.12;
  }
}

@layer utilities {
  .bg-home-gradient {
    background: linear-gradient(
      132deg,
      #b3000093 0%,
      #0D0D0D 48%,
      #600707 99%
    );
    opacity: 0.867; /* 86.67% do gradiente */
  }
}
