@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #060606;
}

@layer utilities {
  .bg-nav-gradient {
    background: linear-gradient(90deg,
        #600707 46%,
        #121212 76%);
    opacity: 0.997;
  }
}

.bg-home-gradient {
  background: linear-gradient(132deg,
      rgba(179, 0, 0, 0.867) 0%,
      rgba(13, 13, 13, 0.867) 48%,
      rgba(96, 7, 7, 0.867) 99%);
}


.bg-pages-gradient {
  background: linear-gradient(-172deg,
      rgba(179, 0, 0, 0.58) 0%,
      rgba(13, 13, 13, 1) 48%,
      rgba(96, 7, 7, 1) 99%);
}


/* .bg-pages-gradient {
  background: linear-gradient(-172deg,
      rgba(13, 13, 13, 0.8667) 10%,
      rgba(96, 7, 7, 0.8667) 100%);
} */